			<div class="pagination">
				<nav>
					{{#if prev}}
					<a class="btn newer" href="{{page_url prev}}" title="Nouveaux posts">&laquo; Nouveaux</a>
					{{/if}}
					<p class="counter">Page {{page}} de {{pages}}</p>
					{{#if next}}
					<a class="btn older" href="{{page_url next}}" title="Anciens posts">Older &raquo;</a>
					{{/if}}
				</nav>
             </div>
